@import "tailwindcss";

:root {
  --background: #F7FFF7;
  --text: #082235;
}

body {
  background: var(--background);
  color: var(--text);
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
